header {
    background-color: aqua;
}

.info {
    text-align: center;
    border: 3px solid black;
}

h2 {
    background-color: burlywood;
    color: darkcyan;
}

h3 {
    background-color: aquamarine;
    color: darkgreen;
}

img {
    border: 3px solid black;
}